.user-register-container {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    width: 30rem; 
    height: 45rem;
    margin-left: 23rem; 
    margin-top: 4rem;
    padding: 2rem; 
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  }
  .bg-color{
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    
  }
  
  .user-register-title {
    font-size: 2rem; 
    font-weight: bold;
    text-align: center; 
    font-style: italic; 
  }
  
  .user-register-form {
    width: 100%; 
  }
  
  .user-register-button {
    margin-left: 25%;
    margin-top: 1rem;
    width: 50%;
  }
  